AlignAfterOpenBracket: BlockIndent
BinPackParameters: OnePerLine
BinPackArguments: false
BreakBeforeBraces: Attach
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
IndentAccessModifiers: true
IndentCaseLabels: true
PackConstructorInitializers: Never
