AlignAfterOpenBracket: BlockIndent
BinPackParameters: OnePerLine
BinPackArguments: false
BreakBeforeBraces: Allman
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
