AlignAfterOpenBracket: BlockIndent
BinPackParameters: OnePerLine
BinPackArguments: false
BreakBeforeBraces: Attach
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
IndentAccessModifiers: true
